<app-header></app-header>
<div class="limiter">
  <div class="container-login100">
    <div class="wrap-login100">
      <form (ngSubmit)="loginForm.valid && validateUser(loginForm)" class="login100-form validate-form p-l-55 p-r-55 p-t-140" #loginForm="ngForm">
        <span class="login100-form-title">
          Sign In
        </span>
        <div class="form-group">
          <div class="wrap-input100 validate-input m-b-16" data-validate="Please enter email">
            <input class="input100" type="email" name="email" id="email" placeholder="Email" required
            pattern="^[a-zA-Z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$"    
            [(ngModel)]="model.email" #email="ngModel">
            <span class="focus-input100"></span>
          </div>
          <span class="text-danger" *ngIf="(email.touched || loginForm.submitted) &&
          email.errors?.['required']">Error : Email is required !</span>
          <span class="text-danger" *ngIf="(email.touched || loginForm.submitted) &&
          email.errors?.['pattern']">Error : Please provide a valid email address !</span>
        </div>

        <div class="form-group">
          <div class="wrap-input100 validate-input" data-validate="Please enter password">
            <input class="input100" type="password" name="password" placeholder="Password" id="password" required
            [(ngModel)]="model.password" #password="ngModel" minlength="5">
            <span class="focus-input100"></span>
          </div>
          <span class="text-danger" *ngIf="(password.touched || loginForm.submitted) &&
          password.errors?.['required']">Error : Password is required !</span>
          <span class="text-danger" *ngIf="(password.touched || loginForm.submitted) &&
          password.errors?.['minlength']">Error : Password must be at least 5 characters long. !</span>
        </div>
        <div class="text-right p-t-13 p-b-23">
          <span class="txt1">
            Forgot
          </span>

          <a href="#" class="txt2">
            Password?
          </a>
        </div>

        <div class="container-login100-form-btn">
          <button class="login100-form-btn" type="submit">
            Sign in
          </button>
        </div>

        <div class="flex-col-c p-t-40 p-b-20">
          <span class="txt1 p-b-9">
            Don’t have an account?
          </span>
          <a href="#" class="txt3">
            Sign up now
          </a>
        </div>
      </form>
    </div>
  </div>
</div>